a {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: whitesmoke;
  box-sizing: border-box;
  margin: 0;
}

body.landing {
  h1, h2 {
    letter-spacing: .5em;
    text-transform: uppercase;
    text-align: center;
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    position: relative;
    /*border-bottom: 1px dotted whitesmoke;*/

    &.page-1 {
      min-height: 100vh;

      .logo-link {
        box-sizing: border-box;
        margin-right: 2em;
        white-space: nowrap;
        outline: none;
        text-decoration: none;

        span {
          font-size: 1.5em;
          font-weight: bold;
          line-height: 0;
          position: relative;
          vertical-align: baseline;
          box-sizing: border-box;

          &:nth-child(odd) {
            top: -0.25em;
            color: black;
            padding: 0 .5em;

            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              margin-left: -20%;
              border-top: 1.2em solid whitesmoke;
              border-bottom: none;
              border-left: 1.2em solid transparent;
              border-right: 1.2em solid transparent;

              width: 0;
              height: 0;
              z-index: -1;
            }
          }

          &:nth-child(even) {
            bottom: -0.25em;
            color: black;
            padding: 0 .5em;

            &:before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              margin-left: -25%;
              margin-top: -0.25em;
              border-bottom: 1.3em solid whitesmoke;
              border-top: none;
              border-left: 1.3em solid transparent;
              border-right: 1.3em solid transparent;

              width: 0;
              height: 0;
              z-index: -1;
            }
          }
        }
      }

      @media (max-width: 500px) {
        h1 {
          font-size: 16px;
        }
      }

      .site-description {
        letter-spacing: .1em;
        text-align: center;
      }
    }

    &.sub-site {
      cursor: pointer;
      margin-top: 1em;
    }

    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      box-sizing: border-box;
      background-attachment: fixed;
    }

    &.site-series::after {
      background-image: url("/img/bg-series.jpg");
    }

    &.site-movies::after {
      background-image: url("/img/bg-movies.jpg");
    }

    &.site-show::after {
      background-image: url("/img/bg-show.jpg");
    }

    &.site-learn::after {
      background-image: url("/img/bg-learn.png");
      background-position: left center;
      opacity: .3;
    }

    &.sub-site {
      h2 {
        a {
          font-size: 8vw;
          color: rgba(250, 250, 250, .9);
        }
      }
    }

    .arrow-down {
      margin: 30px;

      span {
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 5px solid whitesmoke;
        border-right: 5px solid whitesmoke;
        transform: rotate(45deg);
        margin: -16px;
        animation: arrow-down 2s infinite;

        &:nth-child(2) {
          animation-delay: -0.2s;
        }

        &:nth-child(3) {
          animation-delay: -0.4s;
        }
      }
    }
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-top: 2px solid whitesmoke;
  margin: 1em 5vw;

  .copyright {
    text-align: center;
  }
}

// стили для отдельных страниц
body.separate-page {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  header {
    grid-area: header;

    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo-link {
      margin-right: 2em;
      white-space: nowrap;
      outline: none;
      text-decoration: none;

      span {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      span:nth-child(odd) {
        top: -0.25em;
        color: black;
        padding: 0 .5em;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: -20%;
          border-top: 1.2em solid whitesmoke;
          border-bottom: none;
          border-left: 1.2em solid transparent;
          border-right: 1.2em solid transparent;
          width: 0;
          height: 0;
          z-index: -1;
        }
      }

      span:nth-child(even) {
        bottom: -0.25em;
        color: black;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: -140%;
          margin-top: -40%;
          border-bottom: 1.3em solid whitesmoke;
          border-top: none;
          border-left: 1.3em solid transparent;
          border-right: 1.3em solid transparent;
          width: 0;
          height: 0;
          z-index: -1;
        }
      }
    }

    .page-header-title {
      letter-spacing: normal;
      white-space: nowrap;
    }
  }

  main {
    box-sizing: border-box;
    grid-area: main;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    line-height: 2em;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }

    .block404 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      padding: 1em;
      color: #cccccc;
      box-sizing: border-box;
    }
  }

  footer {
    grid-area: footer;
  }
}